
.twitter{
    float: left;
    background: url('../images/redes.png') no-repeat -3px -4px;
    width: 50px;
    height: 50px;
}
.facebook{
    float: left;
    background: url('../images/redes.png') no-repeat -60px -4px;
    width: 50px;
    height: 50px;
}
.youtube{
    float: left;
    background: url('../images/redes.png') no-repeat -292px -4px;
    width: 50px;
    height: 50px;
}
.twitter:hover{
    float: left;
    background: url('../images/redes.png') no-repeat -2px -61px;
    width: 50px;
    height: 50px;
}
.facebook:hover{
    float: left;
    background: url('../images/redes.png') no-repeat -59px -61px;
    width: 50px;
    height: 50px;
}
.youtube:hover{
    float: left;
    background: url('../images/redes.png') no-repeat -291px -61px;
    width: 50px;
    height: 50px;
}
.free{
    float: left;
    background: url('../images/spriteplan.png') no-repeat 50% -1571px;
    width: 70px;
    height: 70px;
}
.gold {
    float: left;
    background: url('../images/spriteplan.png') no-repeat 50% -1841px;
    width: 70px;
    height: 70px;
}

.platinum{
    float: left;
    background: url('../images/spriteplan.png') no-repeat 50% -1931px;
    width: 70px;
    height: 70px;
}
.vibranium{
    float: left;
    background: url('../images/spriteplan.png') no-repeat 50% -1661px;
    width: 70px;
    height: 70px;
}
.backgroundc{
    background-color: #005073;
}